name: Set Open PR Status

on:
  pull_request:
    branches: [ "main" ]
    types: [ opened, reopened, synchronize ] # Triggers

  # run manually from Actions tab
  workflow_dispatch:

jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Set Review Status
      uses: actions/github-script@v7
      with:
        script: |
          github.repos.createCommitStatus({
            owner: context.repo.owner,
            repo: context.repo.repo,
            sha: context.sha,
            state: 'pending',
            context: 'Initial Check',
            description: 'Setting Status to Review...'
          })
          project-url: https://github.com/orgs/fairpm/projects/15
